---
import Container from "@components/container.astro";
import Social from "@components/social.astro";
import Features from "@components/features.astro";
import Experiance from "@components/experiance.astro";
import Footer from "@components/footer.astro";
import Hero from "@components/hero.astro";
import Logos from "@components/logos.astro";
import Layout from "@layouts/Layout.astro";
import { Icon } from "astro-icon";
---

<Layout title="" description="Hi, I’m Mohamed Fayis, a full-stack developer and freelance consultant based in Kerala, India. I technology solutions that help businesses grow online">
	<Container>
		<Hero />
		<Experiance />
		<div class="max-w-4xl mx-auto text-4xl">Explore <a class="font-bold inline-flex items-center text-emerald-700" href="/projects/">Projects <Icon class="h-12 mt-1 ml-1" name="ic:round-arrow-right-alt" /></a></div>
		<Logos />
		<Social />
	</Container>
</Layout>
