---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import dayjs from "dayjs";
---

<Layout title={"Partytown Analyics Wordpress Plugin"} description={""}>
	<Container>
		<div class="mx-auto max-w-[735px] mt-14">
			
			<h1
				class="text-4xl lg:text-5xl font-bold lg:tracking-tight mt-1 lg:leading-tight"
			>
                Partytown Analyics Wordpress Plugin
			</h1>
			<div class="mx-auto prose prose-lg mt-6">
				Introducing partytown wordpress plugin 😇
			</div>
			
		</div>
	</Container>
</Layout>
