---
import Container from "@components/container.astro";
import Layout from "@layouts/Layout.astro";
import Sectionhead from "@components/sectionhead.astro";

import ProjectCard from "@components/project-card.astro";
const projects = [
    {
        image: import('@assets/projects/algo-trading-platform.jpg'),
        title: "Algo Trader",
        description:"Indian stock market algo trading platform. Supports Accumen, Fyers, and Zerodha. Developed using Node js and React",
        link:""
    },
    {
        image: import('@assets/projects/ela-cart.jpg'),
        title: "Ela Cart",
        description:"An instant delivery app like swiggy and zomato. Uses React native, Node js and MongoDB",
        link:"https://elacart.in",
        linkType: 'follow'
    },
    {
        image: import('@assets/projects/searchngo.jpg'),
        title: "Seachngo",
        description:"Camp management app uses react native",
        link:""
    },
    {
        image: import('@assets/projects/jobs-invent.jpg'),
        title: "Jobs Invent",
        description:"Jobs portal made using WordPress. Optimised for SEO",
        link:"https://jobsinvent.com/",
        linkType: 'follow'
    },
    {
        image: import('@assets/projects/ifsc-directory.jpg'),
        title: "IFSC Directory",
        description:"Node js website which helps to find any Indian banks details",
        link:"https://ifscdirectory.com/",
        linkType: 'follow'
    },
    {
        image: import('@assets/projects/emmrc-app.jpg'),
        title: "EMMRC App",
        description:"An app made for EMMRC Calicut University. The video platform was made with React native and node js",
        link:""
    },
    {
        image: import('@assets/projects/fileship.jpg'),
        title: "FileShip",
        description:"Peer to peer file trasfer PWA. Helps to directly transfer files across all platforms. No installation need",
        link:"https://fileship.app",
        linkType: 'follow'

    },
    {
        image: import('@assets/projects/copy-trading.jpg'),
        title: "Stock Market Copy Trader",
        description:"Copy trading platform for the Indian stock market",
        link:""
    },
    {
        image: import('@assets/projects/minagon.jpg'),
        title: "Mindogon",
        description:"A therapist consulting platform",
        link:""
    },
    {
        image: import('@assets/projects/gandhi-quiz.jpg'),
        title: "Gandhi Quiz, University Of Calicut",
        description:"Quiz platform developed for University of Calicut to conduct quiz competition all around India",
        link:"https://gandhi150.uoc.ac.in/",
        linkType: 'js-open'
    },
    {
        image: import('@assets/projects/amtech.jpg'),
        title: "Amtech",
        description:"Multi-vendor e-commerce platform developed using Node js and React (Next js)",
        link:""
    },
    {
        image: import('@assets/projects/collin-couture.jpg'),
        title: "Collin Clouser",
        description:"Single vendor e-commerce platform",
        link:""
    },
    {
        image: import('@assets/projects/muzambi.jpg'),
        title: "Muzambi",
        description:"E-commerce app for grocery. Developed using react native",
        link:""
    },
    {
        image: import('@assets/projects/radio-malayalam-986.jpg'),
        title: "Radio Malayalam 98.6",
        description:"Radio app for the Radio Malayalam 98.6 Qatar. Helps to stream radio from android and ios",
        link:"https://apps.apple.com/us/app/radio-malayalam-98-6/id1335085333",
        linkType: 'follow'
    },
    {
        image: import('@assets/projects/lulu-holidays.jpg'),
        title: "Lulu Holidays",
        description:"Website for Lulu holidays. Made using Next Js",
        link: "https://www.myluluholidays.com/",
        linkType: 'js-open'
    },
    
    {
        image: import('@assets/projects/hulm-tech.jpg'),
        title: "Hulmtech",
        description:"Website of Hulm tech a tech support and fix company.",
        link:"https://hulmtech.com/",
        linkType: 'js-open'
    },
    {
        image: import('@assets/projects/eassymaster.jpg'),
        title: "Essaysmaster (AMP)",
        description:"Converted the existing website to support the new AMP format",
        link:"https://essaysmaster.com/",
        linkType: 'js-open'
    },
    {
        image: import('@assets/projects/cazok-ecommerce.jpg'),
        title: "Cazok",
        description:"Single vendor e-commerce website and app made with the help of woocommerce",
        link:""
    },
    {
        image: import('@assets/projects/kidsnap.jpg'),
        title: "Kidsnap",
        description:"An app which helps people to find missing kids with the help of face detection ai",
        link:""
    },
    {
        image: import('@assets/projects/soulfactors.jpg'),
        title: "Soulfactors",
        description:"Beauty Blog",
        link:"https://soulfactors.com/",
        linkType: 'js-open'
    },
    {
        image: import('@assets/projects/arrowline-logistics.jpg'),
        title: "Arrow Line Logistics",
        description:"A website for a logistic company made using WordPress",
        link:"https://all-movers.com/",
        linkType: 'js-open'
    },
    {
        image: import('@assets/projects/credot-website.jpg'),
        title: "Credot",
        description:"Official website of credot",
        link:"https://credot.co/",
        linkType: 'js-open'
    },
    {
        image: import('@assets/projects/club-sulaimani.jpg'),
        title: "Club Sulimani",
        description:"Official website of Club Sulimani cafe based in Kerala",
        link:"https://clubsulaimani.com/",
        linkType: 'js-open'
    },
]

---

<Layout title="Projects" description="Explore my portfolio of projects and see how I use this versatile technolgies to create dynamic web & apps with a great user interfaces.">
    <Container>
        <div class="mt-16">
            <Sectionhead>
                <Fragment slot="title">Projects</Fragment>
                <Fragment slot="desc">Some of the works i have done.</Fragment>
              </Sectionhead>
            <!-- <h1 class="text-4xl font-bold">Project</h1> -->
            <div class="mx-auto max-w-4xl grid gap-6 grid-cols-1 md:grid-cols-2 gap-6 mt-20">
                {
                    projects.map((item, index) => (
                        <ProjectCard index={index} {...item}/>
                    ))
                }
            </div>
        </div>
    </Container>
</Layout>
