---
import Container from "@components/container.astro";
import Layout from "@layouts/Layout.astro";
import Sectionhead from "@components/sectionhead.astro";

import ProjectCard from "@components/project-card.astro";
const projects = [
    {
        image: import('@assets/projects/algo-trading-platform.jpg'),
        title: "Algo Trader",
        description:"gfh",
        link:"#"
    },
    {
        image: import('@assets/projects/ela-cart.jpg'),
        title: "Ela Cart",
        description:"gfh",
        link:"#"
    },
    {
        image: import('@assets/projects/searchngo.jpg'),
        title: "Seachngo",
        description:"gfh",
        link:"#"
    },
    {
        image: import('@assets/projects/fileship.jpg'),
        title: "FileShip",
        description:"gfh",
        link:"#"
    },
    {
        image: import('@assets/projects/jobs-invent.jpg'),
        title: "Jobs Invent",
        description:"gfh",
        link:"#"
    },
    {
        image: import('@assets/projects/ifsc-directory.jpg'),
        title: "IFSC Directory",
        description:"gfh",
        link:"#"
    },
    {
        image: import('@assets/projects/emmrc-app.jpg'),
        title: "EMMRC Calicut",
        description:"gfh",
        link:"#"
    },
    {
        image: import('@assets/projects/copy-trading.jpg'),
        title: "Stock Market Copy Trader",
        description:"gfh",
        link:"#"
    },
    {
        image: import('@assets/projects/minagon.jpg'),
        title: "Mindogon",
        description:"gfh",
        link:"#"
    },
    {
        image: import('@assets/projects/gandhi-quiz.jpg'),
        title: "Gandhi Quiz, University Of Calicut",
        description:"gfh",
        link:"#"
    },
    {
        image: import('@assets/projects/amtech.jpg'),
        title: "Amtech",
        description:"gfh",
        link:"#"
    },
    {
        image: import('@assets/projects/collin-couture.jpg'),
        title: "Collin Clouser",
        description:"gfh",
        link:"#"
    },
    {
        image: import('@assets/projects/muzambi.jpg'),
        title: "Muzambi",
        description:"gfh",
        link:"#"
    },
    {
        image: import('@assets/projects/radio-malayalam-986.jpg'),
        title: "Radio Malayalam 98.6",
        description:"gfh",
        link:"#"
    },
    {
        image: import('@assets/projects/lulu-holidays.jpg'),
        title: "Lulu Holydays",
        description:"gfh",
        link:"#"
    },
    
    {
        image: import('@assets/projects/hulm-tech.jpg'),
        title: "Hulmtech",
        description:"gfh",
        link:"#"
    },
    {
        image: import('@assets/projects/eassymaster.jpg'),
        title: "Essaysmaster (AMP)",
        description:"gfh",
        link:"#"
    },
    {
        image: import('@assets/projects/cazok-ecommerce.jpg'),
        title: "Cazok",
        description:"gfh",
        link:"#"
    },
    {
        image: import('@assets/projects/kidsnap.jpg'),
        title: "Child App",
        description:"gfh",
        link:"#"
    },
    {
        image: import('@assets/projects/soulfactors.jpg'),
        title: "Soulfactors",
        description:"gfh",
        link:"#"
    },
    {
        image: import('@assets/projects/arrowline-logistics.jpg'),
        title: "All Movers",
        description:"gfh",
        link:"#"
    },
    {
        image: import('@assets/projects/credot-website.jpg'),
        title: "Credot",
        description:"gfh",
        link:"#"
    },
    {
        image: import('@assets/projects/club-sulaimani.jpg'),
        title: "Club Sulimani",
        description:"gfh",
        link:"#"
    },
]

---

<Layout title="">
    <Container>
        <div class="mt-16">
            <Sectionhead>
                <Fragment slot="title">Projects</Fragment>
                <Fragment slot="desc">Some of the works i have done.</Fragment>
              </Sectionhead>
            <!-- <h1 class="text-4xl font-bold">Project</h1> -->
            <div class="mx-auto max-w-4xl grid gap-6 grid-cols-1 md:grid-cols-2 gap-6 mt-20">
                {
                    projects.map(item => (
                        <ProjectCard {...item}/>
                    ))
                }
            </div>
        </div>
    </Container>
</Layout>
