---
import Tick from "@assets/Tick.astro";
---

<div class="mt-16 md:mt-0">
    <div class="flex mb-12 max-w-6xl">
        <div
            class="flex-none w-60 pr-5 text-xl uppercase font-bold text-neutral-900"
        >
            Experiance
        </div>
        <div class="flex-1">
            <div class="mb-16">
                <div class="flex flex-row justify-between mb-1">
                    <h4 class="font-semibold text-xl text-neutral-800">
                        Full Stack Developer and Freelance Consultant
                    </h4>
                    <span class="text-neutral-800 text-sm"
                        >Jan 2023 - Present</span
                    >
                </div>
                <span class="text-emerald-500 text-md">Codesmyth</span>
                <ul class="list-inside space-y-1 mt-4 mb-3 text-stone-700">
                    <li class="flex items-center space-x-3">
                        <Tick />
                        Building and maintaining websites and tools for clients using
                        a variety of technologies, including React, React Native,
                        MongoDB, Node.js, Express, GraphQL, REST, and CMS like Blogger
                        and Ghost.
                    </li>
                    <li class="flex items-center space-x-3">
                        <Tick />
                        Developing my own small-scale projects and blogs to further
                        hone my skills in web development, SEO, and social media
                        marketing.
                    </li>
                    <li class="flex items-center space-x-3">
                        <Tick />
                        Collaborating with clients to understand their needs and
                        provide tailored solutions that meet their requirements.
                    </li>
                    <li class="flex items-center space-x-3">
                        <Tick />
                        Leveraging my skills in Figma, HTML5, TypeScript, Astro,
                        Algorithmic Trading, Blockchain, Web3, Firebase, Cloud Computing,
                        Linux Server, WordPress, React.js, React Native, and Node.js
                        to deliver high-quality work.
                    </li>
                    <li class="flex items-center space-x-3">
                        <Tick />
                        Staying up-to-date with the latest trends and technologies
                        in the web development industry to ensure that our clients
                        receive the most innovative and effective solutions.
                    </li>
                    <li class="flex items-center space-x-3">
                        <Tick />
                        Providing exceptional customer service and support to ensure
                        that clients are satisfied with our work and continue to
                        rely on us for their web development needs.
                    </li>
                </ul>
            </div>
            <div class="mb-16">
                <div class="flex flex-row justify-between mb-1">
                    <h4 class="font-semibold text-xl text-neutral-800">
                        Founder
                    </h4>
                    <span class="text-neutral-800 text-sm"
                        >Jan 2021 - Present</span
                    >
                </div>
                <span class="text-emerald-500 text-md">Ela Cart</span>
                <ul class="list-inside space-y-1 mt-4 mb-3 text-stone-700">
                    <li class="flex items-center space-x-3">
                        <Tick />
                        Spearheading the creation of a hyper-local food delivery
                        app using React Native and Node.js, designed and developed
                        for both iOS and Android, with features similar to popular
                        food delivery apps like Swiggy and Zomato.
                    </li>
                    <li class="flex items-center space-x-3">
                        <Tick />
                        Managing the project from start to finish, including project
                        planning, team management, and quality assurance to ensure
                        the highest standards of reliability, user experience, and
                        quality.
                    </li>
                    <li class="flex items-center space-x-3">
                        <Tick />
                        Taking responsibility for the business development of the
                        app, including identifying opportunities for growth, securing
                        partnerships, and establishing a strong market presence.
                    </li>
                    <li class="flex items-center space-x-3">
                        <Tick />
                        Leading the app's marketing efforts, leveraging my skills
                        in marketing, social media, and Facebook Ads to drive user
                        acquisition and retention.
                    </li>
                    <li class="flex items-center space-x-3">
                        <Tick />
                        Managing human resources, including hiring and training a
                        team of developers and designers to ensure that the app met
                        our goals and standards.
                    </li>
                    <li class="flex items-center space-x-3">
                        <Tick />
                        Ensuring that the app remained up-to-date with the latest
                        trends and technologies in the industry, maintaining its
                        relevance and usefulness to our users.
                    </li>
                </ul>
            </div>
            <div class="mb-16">
                <div class="flex flex-row justify-between mb-1">
                    <h4 class="font-semibold text-xl text-neutral-800">
                        Chief Technology Officer
                    </h4>
                    <span class="text-neutral-800 text-sm"
                        >May 2018 - Nov 2022</span
                    >
                </div>
                <span class="text-emerald-500 text-md">Credot</span>
                <ul class="list-inside space-y-1 mt-4 mb-3 text-stone-700">
                    <li class="flex items-center space-x-3">
                        <Tick />
                        Leading a talented team of developers and overseeing the
                        successful execution of projects of all sizes, ensuring that
                        the products and services we deliver are of the highest quality
                        and meet our clients' needs.
                    </li>
                    <li class="flex items-center space-x-3">
                        <Tick />
                        Driving business growth and increasing our competitive edge
                        by working closely with the development team to create and
                        implement innovative solutions that leverage the latest trends
                        and advancements in technology.
                    </li>
                    <li class="flex items-center space-x-3">
                        <Tick />
                        Ensuring the security, scalability, and efficiency of our
                        technology infrastructure, working closely with other departments
                        to align our technology with the company's overall goals
                        and objectives.
                    </li>
                    <li class="flex items-center space-x-3">
                        <Tick />
                        Maintaining a deep understanding of the technical aspects
                        of running a successful business, as well as the importance
                        of effective communication, teamwork, and project management.
                    </li>
                    <li class="flex items-center space-x-3">
                        <Tick />
                        Utilizing my skills in HTML5, TypeScript, WordPress, JavaScript,
                        React.js, React Native, Node.js, MongoDB, and SQL to guide
                        the development team and deliver exceptional results to our
                        clients.
                    </li>
                    <li class="flex items-center space-x-3">
                        <Tick />
                        Inspiring and motivating my team to achieve their best work
                        and to continuously learn and improve their skills to keep
                        up with the ever-changing technology landscape.
                    </li>
                </ul>
            </div>
            <div class="mb-16">
                <div class="flex flex-row justify-between mb-1">
                    <h4 class="font-semibold text-xl text-neutral-800">
                        Co-Founder
                    </h4>
                    <span class="text-neutral-800 text-sm"
                        >Feb 2017 - Apr 2018</span
                    >
                </div>
                <span class="text-emerald-500 text-md">Paper Innovations</span>
                <ul class="list-inside space-y-1 mt-4 mb-3 text-stone-700">
                    <li class="flex items-center space-x-3">
                        <Tick />
                        Leading and managing the technology team, providing guidance
                        and support to ensure the successful execution of projects,
                        and promoting a culture of collaboration, creativity, and
                        continuous improvement.
                    </li>
                    <li class="flex items-center space-x-3">
                        <Tick />
                        Overseeing all aspects of the company's technology strategy
                        and development, leveraging my skills in HTML5, Sales, Search
                        Engine Optimization (SEO), WordPress, JavaScript, and Node.js
                        to drive innovation, improve efficiency, and enhance the
                        customer experience.
                    </li>
                    <li class="flex items-center space-x-3">
                        <Tick />
                        Collaborating with other departments to align the technology
                        strategy with the company's overall goals and objectives,
                        and communicating with stakeholders to ensure transparency
                        and accountability in all technology-related initiatives.
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="flex mb-12 max-w-6xl">
        <div
            class="flex-none w-60 pr-5 text-xl uppercase font-bold text-neutral-900"
        >
            Education
        </div>
        <div class="flex-1">
            <div class="mb-16">
                <div class="flex flex-row justify-between mb-1">
                    <h4 class="font-semibold text-xl text-neutral-800">
                        Master of Computer Applications - MCA
                    </h4>
                    <span class="text-neutral-800 text-sm"
                        >Aug 2018 - Dec 2021</span
                    >
                </div>
                <span class="text-emerald-500 text-md">University of Calicut</span>
            </div>
            <div class="mb-16">
                <div class="flex flex-row justify-between mb-1">
                    <h4 class="font-semibold text-xl text-neutral-800">
                        Bachelor of Computer Application - BCA
                    </h4>
                    <span class="text-neutral-800 text-sm"
                        >June 2015 - April 2018</span
                    >
                </div>
                <span class="text-emerald-500 text-md">Gems arts and science college, Ramapuram</span>
            </div>
            <div class="mb-16">
                <div class="flex flex-row justify-between mb-1">
                    <h4 class="font-semibold text-xl text-neutral-800">
                        Higher Secondary, Computer Science
                    </h4>
                    <span class="text-neutral-800 text-sm"
                        >June 2013 - April 2015</span
                    >
                </div>
                <span class="text-emerald-500 text-md">Govt. Higher Secondary School Chettiyankinar</span>
            </div>
        </div>
    </div>
    <div class="flex mb-12 max-w-6xl">
        <div
            class="flex-none w-60 pr-5 text-xl uppercase font-bold text-neutral-900"
        >
            Volunteering
        </div>
        <div class="flex-1">
            <div class="mb-16">
                <div class="flex flex-row justify-between mb-1">
                    <h4 class="font-semibold text-xl text-neutral-800">
                        Head Developer
                    </h4>
                    <span class="text-neutral-800 text-sm"
                        >Mar 2019 - Dec 2021</span
                    >
                </div>
                <span class="text-emerald-500 text-md">CCSIT Calicut University</span>
            </div>
            <div class="mb-16">
                <div class="flex flex-row justify-between mb-1">
                    <h4 class="font-semibold text-xl text-neutral-800">
                        Chief Executive Officer
                    </h4>
                    <span class="text-neutral-800 text-sm"
                        >May 2017 - Apr 2018</span
                    >
                </div>
                <span class="text-emerald-500 text-md">IEDC GEMSIEDC GEMS</span>
            </div>
            <div class="mb-16">
                <div class="flex flex-row justify-between mb-1">
                    <h4 class="font-semibold text-xl text-neutral-800">
                        Core Developer
                    </h4>
                    <span class="text-neutral-800 text-sm"
                        >May 2016 - Aug 2018</span
                    >
                </div>
                <span class="text-emerald-500 text-md">Foxlab Makerspace</span>
            </div>
            <div class="mb-16">
                <div class="flex flex-row justify-between mb-1">
                    <h4 class="font-semibold text-xl text-neutral-800">
                        Ambassador
                    </h4>
                    <span class="text-neutral-800 text-sm"
                        >Aug 2015 - Apr 2018</span
                    >
                </div>
                <span class="text-emerald-500 text-md">Mozilla Students</span>
            </div>
        </div>
    </div>
</div>
