---
import { Picture } from "@astrojs/image/components";
import heroImage from "@assets/mohamed-fayis.jpg";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
---

<main class="grid lg:grid-cols-2 place-items-center pb-8 md:pt-12 md:pb-24">
	<div class="py-6 md:order-1">
		<Picture
			width={260}
			height={260}
			src={heroImage}
			alt="Mohamed Fayis"
			widths={[200, 300, 600]}
			aspectRatio="1:1"
			class="rounded-full"
			sizes="(max-width: 800px) 100vw, 350px"
			loading="eager"
			format="avif"
		/>
	</div>
	<div>
		<h1
			class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter"
		>
			Full Stack Developer and Freelance Consultant
		</h1>
		<p class="text-lg mt-4 text-slate-600 max-w-xl">
			Expert in React, React Native, Node.js, MongoDB, and more. I bring
			years of experience delivering high-quality solutions and a passion
			for solving complex problems
		</p>
		<div class="mt-6 flex flex-col sm:flex-row gap-3">
			<Link
				href="https://www.linkedin.com/in/f4yis/"
				target="_blank"
				class="flex gap-1 items-center justify-center"
				rel="noopener"
			>
				<Icon class="text-white w-5 h-5" name="mdi:linkedin" />
				LinkedIn Profile
			</Link>
			<Link
				size="lg"
				style="outline"
				rel="noopener"
				href="https://github.com/f4yis"
				class="flex gap-1 items-center justify-center"
				target="_blank"
			>
				<Icon class="text-black w-4 h-4" name="bx:bxl-github" />
				GitHub
			</Link>
		</div>
	</div>
</main>
