---
// @ts-ignore
import { Icon } from "astro-icon";
---

<div class="mt-10">
  <h2 class="text-center text-slate-500">Technologies woked with</h2>
  <div class="flex gap-6 md:gap-16 items-center justify-center mt-10 flex-wrap max-w-4xl mx-auto">
    <Icon class="h-8 md:h-10" name="simple-icons:nodedotjs" />
    <Icon class="h-8 md:h-10" name="simple-icons:react" />
    <Icon class="h-8 md:h-10" name="simple-icons:typescript" />
    <Icon class="h-8 md:h-10" name="simple-icons:mongodb" />
    <Icon class="h-8 md:h-10" name="simple-icons:tailwindcss" />
    <Icon class="h-8 md:h-10" name="simple-icons:wordpress" />
    <Icon class="h-8 md:h-10" name="simple-icons:android" />
    <Icon class="h-8 md:h-10" name="simple-icons:graphql" />
    <Icon class="h-8 md:h-10" name="simple-icons:vercel" />
    <Icon class="h-8 md:h-10" name="simple-icons:nextdotjs" />
    <Icon class="h-8 md:h-10" name="simple-icons:astro" />
    <Icon class="h-8 md:h-10" name="simple-icons:linode" />
    <Icon class="h-8 md:h-10" name="simple-icons:amazonaws" />
    <Icon class="h-8 md:h-10" name="simple-icons:firebase" />
    <Icon class="h-8 md:h-10" name="simple-icons:webassembly" />
    <Icon class="h-8 md:h-10" name="simple-icons:web3dotjs" />
    <Icon class="h-8 md:h-10" name="simple-icons:mysql" />
    <Icon class="h-8 md:h-10" name="simple-icons:tensorflow" />
  </div>
</div>
